In [1]:
import pandas as pd
import numpy as np

In [2]:
# df_airp = pd.read_xlsx('../data/air_pollution/Air Pollution Data.xlsx')
df_airp = pd.read_excel('../../data/air_pollution/Air Pollution Data.xlsx', sheet_name='Central')
df_vres = pd.read_excel('../../data/car-register/New Vehicle Register.xlsx', sheet_name='Central')
df_station = pd.read_excel('../../data/pm2-5/Raw_Data/PM2.5/PM2.5(2024).xlsx', sheet_name='รายละเอียดจุดตรวจวัด', skiprows=2, usecols=lambda x: x not in ['Unnamed: 0'])
df_sample_pm = pd.read_csv('../../data/pm2-5/combined_pm2.5_2011_2024_daily_microgramperm3.csv')

In [3]:
print(df_airp)
print("-" * 20)
print(df_vres)

    Year    SO2      NO3     CO     O3
0   2567  1.400  13.6700  0.410  29.40
1   2566  1.143  13.5714  0.600  26.20
2   2565  1.000  12.2850  0.520  27.25
3   2564  1.000  13.3300  0.718  24.00
4   2563  1.750  12.6000  0.540  25.00
5   2562  1.000  14.0000  0.600  24.00
6   2561  1.750  14.6000  0.565  24.00
7   2560  1.500  12.6000  0.550  25.20
8   2559  1.250  11.8000  0.685  27.40
9   2558  2.330  13.2800  0.575  23.57
10  2557  2.200  12.2000  0.564  27.40
--------------------
    Year  New Registered Vehicle
0   2567                  119941
1   2566                  138415
2   2565                  136277
3   2564                  120120
4   2563                  118641
5   2562                  145653
6   2561                  151759
7   2560                  147055
8   2559                  136691
9   2558                  133270
10  2557                  144003

In [4]:
print(df_sample_pm)

            Date   02T   05T   10T   11T   12T   59T   61T   03T   50T  ...  \
0     2024-12-31  37.1  33.9  32.9  30.0  30.1  21.9  29.5  32.5  34.1  ...
1     2024-12-30  40.0  28.4  28.2  28.4  28.1  26.2  27.1  34.3  33.2  ...
2     2024-12-29  25.8  20.1  20.4  20.6  20.7  17.0  20.1  22.3  23.8  ...
3     2024-12-28  28.2  22.9  22.5  22.8  23.4  17.0  22.6  25.6  28.2  ...
4     2024-12-27  47.4  35.4  35.8  35.4  35.9  23.2  34.6  43.9  41.6  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
5109  2011-01-05   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5110  2011-01-04   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5111  2011-01-03   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5112  2011-01-02   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
5113  2011-01-01   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

      44T   61T   52T   08T   27T   77T   70T*  70T**  72T(เก่า)  72T(ใหม่)
0      NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
...    ...   ...   ...   ...   ...   ...   ...    ...        ...        ...
5109   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
5110   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
5111   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
5112   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN
5113   NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN        NaN        NaN

[5114 rows x 113 columns]

In [5]:
print(df_station)

    ลำดับ รหัสสถานี                       ชื่อสถานี  \
0     NaN       NaN                             NaN
1     1.0       02T    แขวงหิรัญรูจี เขตธนบุรี กทม.
2     2.0       05T         แขวงบางนา เขตบางนา กทม.
3     3.0       10T    แขวงคลองจั่น เขตบางกะปิ กทม.
4     4.0       11T       แขวงดินแดง เขตดินแดง กทม.
..    ...       ...                             ...
92   92.0       63T          ต.สะเตง อ.เมือง จ.ยะลา
93   93.0       78T            ต.เบตง อ.เบตง จ.ยะลา
94   94.0       80T         ต.พิมาน อ.เมือง. จ.สตูล
95   95.0       89T  ต.คลัง อ.เมือง จ.นครศรีธรรมราช
96   96.0       93T   ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง

               รายละเอียดจุดติดตั้งสถานี
0                                    NaN
1   มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
2                       กรมอุตุนิยมวิทยา
3                      เคหะชุมชนคลองจั่น
4              สนามกีฬาเคหะชุมชนห้วยขวาง
..                                   ...
92   สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
93     ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
94                   ศาลากลางจังหวัดสตูล
95           ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
96                วิทยาลัยสารพัดช่างตรัง

[97 rows x 4 columns]

In [6]:
df_station.columns

Index(['ลำดับ', 'รหัสสถานี', 'ชื่อสถานี', 'รายละเอียดจุดติดตั้งสถานี'], dtype='object')

In [7]:
# Drop the first row (index 1) from df_airp
df_station = df_station.drop(index=0)
df_station = df_station.drop(columns= "ลำดับ")

In [8]:
df_station

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
1,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
2,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา
3,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น
4,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาเคหะชุมชนห้วยขวาง
5,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา
...,...,...,...
92,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
93,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
94,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล
95,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
96,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง

In [9]:
df_station["จังหวัด"] = df_station["ชื่อสถานี"].str.split(" ").str[-1]

In [10]:
df_station["จังหวัด"].unique()

array(['กทม.', 'จ.สมุทรปราการ', 'จ.นนทบุรี', 'จ.สมุทรสาคร', 'จ.ปทุมธานี',
       'จ.นครปฐม', 'จ.พระนครศรีอยุธยา', '', 'จ.ราชบุรี', 'จ.กาญจนบุรี',
       'จ.สมุทรสงคราม', 'จ.สุพรรณบุรี', 'จ.ลพบุรี', 'จ.ประจวบคีรีขันธ์',
       'จ.สิงห์บุรี', 'จ.ขอนแก่น', 'จ.นครราชสีมา', 'จ.เลย', 'จ.หนองคาย',
       'จ.อุบลราชธานี', 'จ.นครพนม', 'จ.สกลนคร', 'จ.อุดรธานี',
       'จ.บุรีรัมย์', 'จ.มุกดาหาร', 'จ.บึงกาฬ', 'จ.กาฬสินธุ์',
       'จ.ชัยภูมิ', 'จ.ยโสธร', 'จ.อำนาจเจริญ', 'จ.สุรินทร์', 'จ.ศรีสะเกษ',
       'จ.ระยอง', 'จ.ชลบุรี', 'จ.ฉะเชิงเทรา', 'จ.ปราจีนบุรี', 'จ.ตราด',
       'จ.จันทบุรี', 'จ.นครนายก', 'จ.เชียงใหม่', 'จ.ลำปาง', 'จ.นครสวรรค์',
       'จ.เชียงราย', 'จ.แม่ฮ่องสอน', 'จ.น่าน', 'จ.ลำพูน', 'แพร่',
       'จ.พะเยา', 'จ.ตาก', 'จ.พิษณุโลก', 'จ.อุตรดิตถ์', 'จ.กำแพงเพชร',
       'จ.พิจิตร', 'จ.สุโขทัย', 'จ.เพชรบูรณ์', 'จ.อุทัยธานี',
       'จ.สุราษฏร์ธานี', 'จ.ภูเก็ต', 'จ.สงขลา', 'จ.นราธิวาส', 'จ.ยะลา',
       'จ.สตูล', 'จ.นครศรีธรรมราช', 'จ.ตรัง'], dtype=object)

In [11]:
thai_to_eng_map = {
    "กทม.": ("Bangkok Metropolis", 3),
    "จ.สมุทรปราการ": ("Samut Prakan", 57),
    "จ.นนทบุรี": ("Nonthaburi", 36),
    "จ.สมุทรสาคร": ("Samut Sakhon", 58),
    "จ.ปทุมธานี": ("Pathum Thani", 37),
    "จ.นครปฐม": ("Nakhon Pathom", 27),
    "จ.พระนครศรีอยุธยา": ("Phra Nakhon Si Ayutthaya", 46),
    "จ.ราชบุรี": ("Ratchaburi", 52),
    "จ.กาญจนบุรี": ("Kanchanaburi", 16),
    "จ.สมุทรสงคราม": ("Samut Songkhram", 59),
    "จ.สุพรรณบุรี": ("Suphan Buri", 66),
    "จ.ลพบุรี": ("Lop Buri", 22),
    "จ.ประจวบคีรีขันธ์": ("Prachuap Khiri Khan", 50),
    "จ.สิงห์บุรี": ("Sing Buri", 63),
    "จ.ขอนแก่น": ("Khon Kaen", 17),
    "จ.นครราชสีมา": ("Nakhon Ratchasima", 29),
    "จ.เลย": ("Loei", 21),
    "จ.หนองคาย": ("Nong Khai", 35),
    "จ.อุบลราชธานี": ("Ubon Ratchathani", 72),
    "จ.นครพนม": ("Nakhon Phanom", 28),
    "จ.สกลนคร": ("Sakon Nakhon", 56),
    "จ.อุดรธานี": ("Udon Thani", 73),
    "จ.บุรีรัมย์": ("Buri Ram", 5),
    "จ.มุกดาหาร": ("Mukdahan", 25),
    "จ.บึงกาฬ": ("Bueng Kan", 4),
    "จ.กาฬสินธุ์": ("Kalasin", 14),
    "จ.ชัยภูมิ": ("Chaiyaphum", 8),
    "จ.ยโสธร": ("Yasothon", 77),
    "จ.อำนาจเจริญ": ("Amnat Charoen", 1),
    "จ.สุรินทร์": ("Surin", 68),
    "จ.ศรีสะเกษ": ("Si Sa Ket", 62),
    "จ.ระยอง": ("Rayong", 53),
    "จ.ชลบุรี": ("Chon Buri", 12),
    "จ.ฉะเชิงเทรา": ("Chachoengsao", 6),
    "จ.ปราจีนบุรี": ("Prachin Buri", 49),
    "จ.ตราด": ("Trat", 71),
    "จ.จันทบุรี": ("Chanthaburi", 9),
    "จ.นครนายก": ("Nakhon Nayok", 26),
    "จ.เชียงใหม่": ("Chiang Mai", 10),
    "จ.ลำปาง": ("Lampang", 19),
    "จ.นครสวรรค์": ("Nakhon Sawan", 30),
    "จ.เชียงราย": ("Chiang Rai", 11),
    "จ.แม่ฮ่องสอน": ("Mae Hong Son", 23),
    "จ.น่าน": ("Nan", 32),
    "จ.ลำพูน": ("Lamphun", 20),
    "แพร่": ("Phrae", 47),
    "จ.พะเยา": ("Phayao", 41),
    "จ.ตาก": ("Tak", 69),
    "จ.พิษณุโลก": ("Phitsanulok", 45),
    "จ.อุตรดิตถ์": ("Uttaradit", 75),
    "จ.กำแพงเพชร": ("Kamphaeng Phet", 15),
    "จ.พิจิตร": ("Phichit", 44),
    "จ.สุโขทัย": ("Sukhothai", 65),
    "จ.เพชรบูรณ์": ("Phetchabun", 42),
    "จ.อุทัยธานี": ("Uthai Thani", 74),
    "จ.สุราษฏร์ธานี": ("Surat Thani", 67),
    "จ.ภูเก็ต": ("Phuket", 48),
    "จ.สงขลา": ("Songkhla", 64),
    "จ.นราธิวาส": ("Narathiwat", 33),
    "จ.ยะลา": ("Yala", 76),
    "จ.สตูล": ("Satun", 61),
    "จ.นครศรีธรรมราช": ("Nakhon Si Thammarat", 31),
    "จ.ตรัง": ("Trang", 70),
}

# Map เป็นภาษาอังกฤษและ adm1__id
df_station["english_name"] = df_station["จังหวัด"].map(lambda x: thai_to_eng_map.get(x, ("", ""))[0])
df_station["adm1__id"] = df_station["จังหวัด"].map(lambda x: thai_to_eng_map.get(x, ("", ""))[1])

print(df_station)

   รหัสสถานี                       ชื่อสถานี  \
1        02T    แขวงหิรัญรูจี เขตธนบุรี กทม.
2        05T         แขวงบางนา เขตบางนา กทม.
3        10T    แขวงคลองจั่น เขตบางกะปิ กทม.
4        11T       แขวงดินแดง เขตดินแดง กทม.
5        12T   แขวงช่องนนทรี เขตยานนาวา กทม.
..       ...                             ...
92       63T          ต.สะเตง อ.เมือง จ.ยะลา
93       78T            ต.เบตง อ.เบตง จ.ยะลา
94       80T         ต.พิมาน อ.เมือง. จ.สตูล
95       89T  ต.คลัง อ.เมือง จ.นครศรีธรรมราช
96       93T   ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง

               รายละเอียดจุดติดตั้งสถานี          จังหวัด  \
1   มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา             กทม.
2                       กรมอุตุนิยมวิทยา             กทม.
3                      เคหะชุมชนคลองจั่น             กทม.
4              สนามกีฬาเคหะชุมชนห้วยขวาง             กทม.
5                     โรงเรียนนนทรีวิทยา             กทม.
..                                   ...              ...
92   สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา           จ.ยะลา
93     ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง           จ.ยะลา
94                   ศาลากลางจังหวัดสตูล           จ.สตูล
95           ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ  จ.นครศรีธรรมราช
96                วิทยาลัยสารพัดช่างตรัง           จ.ตรัง

           english_name adm1__id
1    Bangkok Metropolis        3
2    Bangkok Metropolis        3
3    Bangkok Metropolis        3
4    Bangkok Metropolis        3
5    Bangkok Metropolis        3
..                  ...      ...
92                 Yala       76
93                 Yala       76
94                Satun       61
95  Nakhon Si Thammarat       31
96                Trang       70

[96 rows x 6 columns]

In [12]:
df_station

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี,จังหวัด,english_name,adm1__id
1,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,กทม.,Bangkok Metropolis,3
2,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา,กทม.,Bangkok Metropolis,3
3,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น,กทม.,Bangkok Metropolis,3
4,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาเคหะชุมชนห้วยขวาง,กทม.,Bangkok Metropolis,3
5,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา,กทม.,Bangkok Metropolis,3
...,...,...,...,...,...,...
92,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา,จ.ยะลา,Yala,76
93,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง,จ.ยะลา,Yala,76
94,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล,จ.สตูล,Satun,61
95,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ,จ.นครศรีธรรมราช,Nakhon Si Thammarat,31
96,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง,จ.ตรัง,Trang,70

In [14]:
df_station.to_csv("../../data/a1/PM_map.csv", index=False)

In [15]:
len(df_station["จังหวัด"].unique())

64