In [9]:
import numpy as np
import pandas as pd

In [10]:
dfs_pm = {}
dfs_info = {}

for i in range(2011, 2025):
    dfs_pm[i] = pd.read_excel(f"../../data/pm2-5/Raw_Data/PM2.5/PM2.5({i}).xlsx", sheet_name="PM2.5")
    if i == 2023:
        dfs_pm[i] = dfs_pm[i].iloc[:-3]
    else:
        dfs_pm[i] = dfs_pm[i].iloc[:-1]
    dfs_pm[i] = dfs_pm[i].dropna(how='all', subset=dfs_pm[i].columns[1:])
    dfs_pm[i].columns = dfs_pm[i].columns.str.strip() 
    sheet_names = pd.ExcelFile(f"../../data/pm2-5/Raw_Data/PM2.5/PM2.5({i}).xlsx").sheet_names
    if "รายละเอียด" in sheet_names:
        dfs_info[i] = pd.read_excel(
            f"../../data/pm2-5/Raw_Data/PM2.5/PM2.5({i}).xlsx", sheet_name="รายละเอียด", skiprows=2, usecols=lambda x: not x.startswith('Unnamed') and x!= "ลำดับ")
    elif "พารามิเตอร์_สถานี" in sheet_names:
        dfs_info[i] = pd.read_excel(f"../../data/pm2-5/Raw_Data/PM2.5/PM2.5({i}).xlsx", sheet_name="พารามิเตอร์_สถานี", skiprows=2, usecols=lambda x: not x.startswith('Unnamed') and x!= "ลำดับ")
    elif "รายละเอียดจุดตรวจวัด" in sheet_names:
        dfs_info[i] = pd.read_excel(f"../../data/pm2-5/Raw_Data/PM2.5/PM2.5({i}).xlsx", sheet_name="รายละเอียดจุดตรวจวัด", skiprows=2, usecols=lambda x: not x.startswith('Unnamed') and x!= "ลำดับ")
    else:
        dfs_info[i] = None
        print(f"No matching sheet found for year {i}")
    
    dfs_info[i] = dfs_info[i].drop(index=0)
    print(f"Year {i} loaded")

Year 2011 loaded
Year 2012 loaded
Year 2013 loaded
Year 2014 loaded
Year 2015 loaded
Year 2016 loaded
Year 2017 loaded
Year 2018 loaded
Year 2019 loaded
Year 2020 loaded
Year 2021 loaded
Year 2022 loaded
Year 2023 loaded
Year 2024 loaded

In [11]:
# dfs_info[2024].head()
dfs_info[2023].head()

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
1,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา
2,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยา
3,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น
4,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาเคหะชุมชนห้วยขวาง
5,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา

In [12]:
dfs_pm[2023].tail()

,Date,02T,05T,10T,11T,12T,59T,61T,03T,50T,...,98T,42T,43T,44T,62T,63T,78T,80T,89T,93T
360,2023-12-27 00:00:00,46.2,39.6,35.5,34.8,33.6,27.7,31.1,47.8,41.3,...,57.4,17.6,29.7,17.2,17.5,21.0,10.9,22.6,21.2,18.5
361,2023-12-28 00:00:00,45.2,32.7,32.2,30.3,31.1,26.0,29.0,47.8,39.3,...,53.6,15.2,27.7,15.7,14.5,17.4,9.6,17.0,17.4,16.0
362,2023-12-29 00:00:00,47,35.9,35.4,33.1,33.0,25.7,29.8,44.5,40.5,...,45.3,15.7,22.7,13.0,17.0,17.2,9.7,15.6,16.4,13.1
363,2023-12-30 00:00:00,47.7,37.9,34.3,35.2,36.4,30.1,31.5,45.8,46.8,...,36.5,15.2,23.9,14.0,18.7,17.3,9.1,20.8,16.4,11.1
364,2023-12-31 00:00:00,42.4,33.7,31.6,29.9,31.5,25.1,27.3,42.8,39.1,...,35.5,15.7,21.8,13.3,14.4,16.5,12.6,17.3,13.7,15.3

In [13]:
df_pm = pd.concat(dfs_pm.values(), ignore_index=True).sort_values(by='Date', ascending=False).reset_index(drop=True)

In [14]:
#check for duplicate columns
df_pm.columns[df_pm.columns.duplicated()]

Index([], dtype='object')

In [15]:
df_pm.head()

,Date,54T,36T,30T,24T,44T,27T,40T,61T,26T,...,98T,104T,106T,107T,108T,109T,110T,111T,112T,105T
0,2024-12-31 00:00:00,34.9,21.5,25.6,37.1,15.6,38.9,22.0,29.5,41.2,...,35.2,32.0,20.4,33.9,23.3,33.9,28.6,19.5,20.0,23.8
1,2024-12-30 00:00:00,33.4,23.1,23.4,29.6,14.0,49.2,20.9,27.1,35.1,...,37.9,38.6,24.9,32.2,27.1,38.9,31.8,25.2,30.2,19.6
2,2024-12-29 00:00:00,23.3,20.1,12.3,20.8,10.1,30.9,20.2,20.1,27.1,...,24.9,25.1,15.1,32.9,17.9,35.3,29.5,23.2,22.5,12.0
3,2024-12-28 00:00:00,27.7,17.4,13.4,25.3,9.7,43.8,23.7,22.6,NaN,...,37.8,24.4,10.1,20.4,19.3,22.7,17.4,9.7,9.8,14.4
4,2024-12-27 00:00:00,44.5,23.6,24.4,35.6,12.0,63.6,27.3,34.6,47.1,...,51.2,30.3,10.7,23.5,20.7,22.9,16.9,12.4,10.1,36.9

In [16]:
df_check = pd.read_csv("../../data/pm2-5/combined_pm2.5_2011_2024_daily_microgramperm3.csv")

In [17]:
df_check.head()

,Date,02T,05T,10T,11T,12T,59T,61T,03T,50T,...,44T,61T,52T,08T,27T,77T,70T*,70T**,72T(เก่า),72T(ใหม่)
0,2024-12-31,37.1,33.9,32.9,30.0,30.1,21.9,29.5,32.5,34.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-30,40.0,28.4,28.2,28.4,28.1,26.2,27.1,34.3,33.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29,25.8,20.1,20.4,20.6,20.7,17.0,20.1,22.3,23.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-28,28.2,22.9,22.5,22.8,23.4,17.0,22.6,25.6,28.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-27,47.4,35.4,35.8,35.4,35.9,23.2,34.6,43.9,41.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print(df_pm.columns[df_pm.columns.duplicated()])
print(df_check.columns[df_check.columns.duplicated()])

Index([], dtype='object')
Index([], dtype='object')

In [19]:
for i in range(2011, 2025):
    if dfs_info[i] is not None:
        if "ID" in dfs_info[i].columns:
            dfs_info[i].rename(columns={"ID": "รหัสสถานี"}, inplace=True)
        else:
            print(f"No ID column found in year {i}")
    else:
        print(f"No info data for year {i}")

df_info = pd.concat(dfs_info.values(), ignore_index=True)

No ID column found in year 2018
No ID column found in year 2019
No ID column found in year 2020
No ID column found in year 2021
No ID column found in year 2022
No ID column found in year 2023
No ID column found in year 2024

In [20]:
for i in range(2011, 2025):
    dfs_info[i].loc[dfs_info[i]['รหัสสถานี'] == 70, 'รหัสสถานี'] = "70T"
    dfs_info[i]['รหัสสถานี'] = dfs_info[i]['รหัสสถานี'].str.strip()

In [21]:
df_info

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
0,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง
1,30T,ต.ท่าประดู่ อ.เมือง จ.ระยอง,สำนักงานเกษตรจังหวัดระยอง
2,36T,ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,โรงเรียนยุพราชวิทยาลัย
3,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง
4,24T,ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,สถานีตำรวจภูธรตำบลหน้าพระลาน
...,...,...,...
620,63T,ต.สะเตง อ.เมือง จ.ยะลา,สวนสาธารณะสนามโรงพิธีช้างเผือก ยะลา
621,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง
622,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล
623,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ
624,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง

In [22]:
df_info.drop_duplicates(subset=["รหัสสถานี"], inplace=True)

pd.options.display.max_rows = None
pd.options.display.max_columns = None

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')
df_info

# pd.reset_option('display.max_rows')
# pd.reset_option('display.max_columns')

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี
0,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง
1,30T,ต.ท่าประดู่ อ.เมือง จ.ระยอง,สำนักงานเกษตรจังหวัดระยอง
2,36T,ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,โรงเรียนยุพราชวิทยาลัย
4,24T,ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,สถานีตำรวจภูธรตำบลหน้าพระลาน
7,44T,ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา,เทศบาลนครหาดใหญ่
...,...,...,...
479,109T,ต.ในเมือง อ.เมือง จ.ยโสธร,สวนสาธารณะพญาแถน
480,110T,ต.บุ่ง อ.เมือง จ.อำนาจเจริญ,สำนักงานเทศบาลเมืองอำนาจเจริญ
481,111T,ต.นอกเมือง อ.เมือง จ.สุรินทร์,สถานีอุตุนิยมวิทยาสุรินทร์
482,112T,ต.หนองครก อ.เมือง จ.ศรีสะเกษ,สถานีอุตุนิยมวิทยาศรีสะเกษ
496,105T,ต.บ้านใหญ่ อ.เมือง จ.นครนายก,สถานีอนามัยเทศบาลเมืองนครนายก

In [23]:
len(df_info["รหัสสถานี"].unique())

101

In [24]:
print(len(df_pm.columns))

101

In [25]:
df_pm.columns[df_pm.columns.duplicated()]

Index([], dtype='object')

In [26]:
df_pm.shape

(4979, 101)

In [27]:
#show columns that's not in df_info
df_pm.columns[~df_pm.columns.isin(df_info['รหัสสถานี'])]

#delete all white space in column names
df_info.loc[df_info['รหัสสถานี'] == 70, 'รหัสสถานี'] = "70T"
# df_pm.columns = df_pm.columns.str.strip()
# df_info['รหัสสถานี'] = df_info['รหัสสถานี'].str.strip()

#replace  " " with ""
df_info['รหัสสถานี'] = df_info['รหัสสถานี'].str.replace(" ", "")

df_pm.columns[~df_pm.columns.isin(df_info['รหัสสถานี'])]

Index(['Date'], dtype='object')

In [28]:
# df_info.loc[df_info['รหัสสถานี'] == 70, 'รหัสสถานี'] = "70T"
# df_check.columns = df_check.columns.str.strip()
# df_info['รหัสสถานี'] = df_info['รหัสสถานี'].str.strip()

In [29]:
# df_check.columns[df_check.columns.duplicated()]

In [30]:
df_pm.shape

(4979, 101)

In [31]:
df_pm.columns[df_pm.columns.duplicated()]

Index([], dtype='object')

In [32]:
df_info['รหัสสถานี'][~df_info['รหัสสถานี'].isin(df_pm.columns)]

#print index 321
df_info.loc[321]

รหัสสถานี                                                70T
ชื่อสถานี                    ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา
รายละเอียดจุดติดตั้งสถานี               สนามกีฬาจังหวัดพะเยา
Name: 321, dtype: object

In [33]:
df_info['รหัสสถานี'][~df_info['รหัสสถานี'].isin(df_pm.columns)]

Series([], Name: รหัสสถานี, dtype: object)

In [34]:
# Remove any invisible characters and convert to lowercase
df_pm.columns = df_pm.columns.str.strip()

# Now, process and check
for x in df_pm.columns[1:]:
    print(f"processing: {x}")
    if x not in df_info["รหัสสถานี"].values:
        print(f"{x} is not in df_info")

processing: 54T
processing: 36T
processing: 30T
processing: 24T
processing: 44T
processing: 27T
processing: 40T
processing: 61T
processing: 26T
processing: 46T
processing: 59T
processing: 32T
processing: 05T
processing: 52T
processing: 08T
processing: 35T
processing: 75T
processing: 76T
processing: 77T
processing: 50T
processing: 53T
processing: 19T
processing: 62T
processing: 63T
processing: 79T
processing: 80T
processing: 10T
processing: 11T
processing: 03T
processing: 14T
processing: 17T
processing: 18T
processing: 20T
processing: 21T
processing: 25T
processing: 29T
processing: 31T
processing: 33T
processing: 34T
processing: 37T
processing: 38T
processing: 39T
processing: 41T
processing: 42T
processing: 57T
processing: 58T
processing: 67T
processing: 68T
processing: 69T
processing: 70T
processing: 71T
processing: 72T
processing: 73T
processing: 02T
processing: 12T
processing: 13T
processing: 16T
processing: 22T
processing: 28T
processing: 43T
processing: 47T
processing: 60T
processing: 70T*
processing: 70T**
processing: 74T
processing: 78T
processing: 81T
processing: 82T
processing: 83T
processing: 84T
processing: 85T
processing: 72T(เก่า)
processing: 72T(ใหม่)
processing: 88T
processing: 90T
processing: 91T
processing: 87T
processing: 86T
processing: 92T
processing: 89T
processing: 93T
processing: 99T
processing: 103T
processing: 101T
processing: 102T
processing: 100T
processing: 94T
processing: 95T
processing: 96T
processing: 97T
processing: 98T
processing: 104T
processing: 106T
processing: 107T
processing: 108T
processing: 109T
processing: 110T
processing: 111T
processing: 112T
processing: 105T

In [35]:
for x in df_info["รหัสสถานี"].values:
    print(f"processing: {x}")
    if x not in df_pm.columns:
        print(f"{x} is not in df_pm")

processing: 54T
processing: 30T
processing: 36T
processing: 24T
processing: 44T
processing: 27T
processing: 40T
processing: 61T
processing: 26T
processing: 46T
processing: 59T
processing: 32T
processing: 05T
processing: 52T
processing: 08T
processing: 35T
processing: 75T
processing: 76T
processing: 77T
processing: 50T
processing: 53T
processing: 19T
processing: 62T
processing: 63T
processing: 79T
processing: 80T
processing: 10T
processing: 11T
processing: 03T
processing: 14T
processing: 17T
processing: 18T
processing: 20T
processing: 21T
processing: 25T
processing: 29T
processing: 31T
processing: 33T
processing: 34T
processing: 37T
processing: 38T
processing: 39T
processing: 41T
processing: 42T
processing: 57T
processing: 58T
processing: 67T
processing: 68T
processing: 69T
processing: 70T
processing: 71T
processing: 72T
processing: 73T
processing: 02T
processing: 12T
processing: 13T
processing: 16T
processing: 22T
processing: 28T
processing: 43T
processing: 47T
processing: 60T
processing: 70T*
processing: 70T**
processing: 74T
processing: 78T
processing: 81T
processing: 82T
processing: 83T
processing: 84T
processing: 70T
processing: 72T(เก่า)
processing: 72T(ใหม่)
processing: 85T
processing: 86T
processing: 87T
processing: 88T
processing: 89T
processing: 90T
processing: 91T
processing: 92T
processing: 93T
processing: 99T
processing: 100T
processing: 101T
processing: 102T
processing: 94T
processing: 95T
processing: 96T
processing: 97T
processing: 98T
processing: 103T
processing: 104T
processing: 106T
processing: 107T
processing: 108T
processing: 109T
processing: 110T
processing: 111T
processing: 112T
processing: 105T

In [36]:
df_pm.rename(columns={df_info["รหัสสถานี"].values[i]: f"{df_info['รหัสสถานี'].values[i]} | {df_info['ชื่อสถานี'].values[i]}" for i in range(len(df_info))}, inplace=True)

In [37]:
df_pm

,Date,54T | แขวงดินแดง เขตดินแดง กทม.,36T | ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,30T | ต.ท่าประดู่ อ.เมือง จ.ระยอง,24T | ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,44T | ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา,27T | ต.มหาชัย อ.เมือง จ.สมุทรสาคร,40T | ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,61T | แขวงพลับพลา เขตวังทองหลาง กทม.,26T | ต.หน้าเมือง อ.เมือง จ.ราชบุรี,...,98T | ต.อุทัยใหม่ อ.เมืองอุทัยธานี จ.อุทัยธานี,104T | ต.บางมัญ อ.เมือง จ.สิงห์บุรี,106T | ต.บึงกาฬ อ.เมือง จ.บึงกาฬ,107T | ต.กาฬสินธุ์ อ.เมือง จ.กาฬสินธุ์,108T | ต.ในเมือง อ.เมือง จ.ชัยภูมิ,109T | ต.ในเมือง อ.เมือง จ.ยโสธร,110T | ต.บุ่ง อ.เมือง จ.อำนาจเจริญ,111T | ต.นอกเมือง อ.เมือง จ.สุรินทร์,112T | ต.หนองครก อ.เมือง จ.ศรีสะเกษ,105T | ต.บ้านใหญ่ อ.เมือง จ.นครนายก
0,2024-12-31 00:00:00,34.9,21.5,25.6,37.1,15.6,38.9,22.0,29.5,41.2,...,35.2,32.0,20.4,33.9,23.3,33.9,28.6,19.5,20.0,23.8
1,2024-12-30 00:00:00,33.4,23.1,23.4,29.6,14.0,49.2,20.9,27.1,35.1,...,37.9,38.6,24.9,32.2,27.1,38.9,31.8,25.2,30.2,19.6
2,2024-12-29 00:00:00,23.3,20.1,12.3,20.8,10.1,30.9,20.2,20.1,27.1,...,24.9,25.1,15.1,32.9,17.9,35.3,29.5,23.2,22.5,12.0
3,2024-12-28 00:00:00,27.7,17.4,13.4,25.3,9.7,43.8,23.7,22.6,NaN,...,37.8,24.4,10.1,20.4,19.3,22.7,17.4,9.7,9.8,14.4
4,2024-12-27 00:00:00,44.5,23.6,24.4,35.6,12.0,63.6,27.3,34.6,47.1,...,51.2,30.3,10.7,23.5,20.7,22.9,16.9,12.4,10.1,36.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4974,2011-05-20 00:00:00,43,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4975,2011-05-19 00:00:00,49,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,2011-05-18 00:00:00,45,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4977,2011-05-17 00:00:00,45,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,2011-05-16 00:00:00,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#print all columns
list = df_pm.columns

for x in list:
    print(x)

Date
54T |  แขวงดินแดง เขตดินแดง กทม.
36T |  ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่
30T |  ต.ท่าประดู่ อ.เมือง จ.ระยอง
24T |  ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี
44T |  ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา
27T |  ต.มหาชัย อ.เมือง จ.สมุทรสาคร
40T | ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง
61T |  แขวงพลับพลา เขตวังทองหลาง กทม.
26T |  ต.หน้าเมือง อ.เมือง จ.ราชบุรี
46T |  ต.ในเมือง อ.เมือง จ.ขอนแก่น
59T |  แขวงพญาไท เขตพญาไท กทม.
32T |  ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี
05T |  แขวงบางนา เขตบางนา กทม.
52T | แขวงบางยี่เรือ เขตธนบุรี กทม.
08T |  ต.ทรงคนอง  อ.พระประแดง  จ.สมุทรปราการ
35T |  ต.ช้างเผือก อ.เมือง จ.เชียงใหม่
75T | ต.ห้วยโก๋น อ.เฉลิมพระเกียรติ จ.น่าน
76T |  ต.แม่ปะ อ.แม่สอด จ.ตาก
77T |  ต.ท่าตูม อ.ศรีมหาโพธิ จ.ปราจีนบุรี
50T |  แขวงปทุมวัน เขตปทุมวัน กทม.
53T |  แขวงวังทองหลาง เขตวังทองหลาง กทม.
19T |  ต.บางเสาธง อ.บางเสาธง จ.สมุทรปราการ
62T |  ต.บางนาค อ.เมือง จ.นราธิวาส
63T |  ต.สะเตง อ.เมือง จ.ยะลา
79T |  ต.ปากแพรก อ.เมือง จ.กาญจนบุรี
80T |  ต.พิมาน อ.เมือง. จ.สตูล
10T |  แขวงคลองจั่น เขตบางกะปิ กทม.
11T |  แขวงดินแดง เขตดินแดง กทม.
03T |  แขวงแสมดำ เขตบางขุนเทียน กทม.
14T |  ต.อ้อมน้อย อ.กระทุ่มแบน จ.สมุทรสาคร
17T |  ต.ตลาด อ.พระประแดง  จ.สมุทรปราการ
18T |  ต.ปากน้ำ อ.เมือง จ.สมุทรปราการ
20T |  ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี
21T |  ต.ประตูชัย อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา
25T |  ต.ปากเพรียว อ.เมือง จ.สระบุรี
29T |  ต.มาบตาพุด อ.เมือง จ.ระยอง
31T |  ต.ห้วยโป่ง อ.เมือง จ.ระยอง
33T |  ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี
34T |  ต.บ้านสวน อ.เมือง จ.ชลบุรี
37T |  ต.พระบาท อ.เมือง จ.ลำปาง
38T |  ต.สบป้าด อ.แม่เมาะ จ.ลำปาง
39T |  ต.บ้านดง อ.แม่เมาะ จ.ลำปาง
41T |  ต.ปากน้ำโพ อ.เมือง จ.นครสวรรค์
42T |  ต.มะขามเตี้ย อ.เมือง จ.สุราษฏร์ธานี
57T |  ต.เวียง อ.เมือง    จ.เชียงราย
58T |  ต.จองคำ อ.เมือง จ.แม่ฮ่องสอน
67T | ต.ในเวียง อ.เมือง จ.น่าน
68T | ต.บ้านกลาง อ.เมือง จ.ลำพูน
69T |  ต.นาจักร อ.เมือง จ. แพร่
70T | ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา
71T |  ต.อรัญประเทศ อ.อรัญประเทศ จ.สระแก้ว
72T |  ต.นาอาน อ.เมือง จ.เลย
73T |  ต.เวียงพางคำ อ.แม่สาย จ.เชียงราย
02T | แขวงหิรัญรูจี เขตธนบุรี กทม.
12T | แขวงช่องนนทรี เขตยานนาวา กทม.
13T | ต.บางกรวย อ.บางกรวย จ.นนทบุรี
16T | ต.บางโปรง อ.เมือง จ.สมุทรปราการ
22T | ต.บางพูด อ.ปากเกร็ด จ.นนทบุรี
28T | ต.ปลวกแดง อ.ปลวกแดง จ.ระยอง
43T | ต.ตลาดใหญ่ อ.เมือง จ.ภูเก็ต
47T | ต.ในเมือง อ.เมือง จ.นครราชสีมา
60T | ต.วังเย็น อ.แปลงยาว จ.ฉะเชิงเทรา
70T* | พะเยา ต.เวียง อ.เมือง จ. พะเยา
70T** | ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา
74T | ต.เนินพระ อ.เมือง จ.ระยอง
78T | ต.เบตง อ.เบตง จ.ยะลา
81T | ต.นครปฐม อ.เมือง จ.นครปฐม
82T | ต.มีชัย อ.เมือง จ.หนองคาย
83T | ต.ในเมือง อ.เมือง จ.อุบลราชธานี
84T | ต.ลาดใหญ่ อ.เมือง จ.สมุทรสงคราม
85T | ต.ดอนกำยาน อ.เมือง จ.สุพรรณบุรี
72T(เก่า) | ต.นาอาน อ.เมือง จ.เลย
72T(ใหม่) | ต.กุดป่อง อ.เมือง จ.เลย
88T | ต.ในเมือง อ.เมือง จ.นครพนม
90T | ต.ธาตุนาเวง อ.เมือง จ.สกลนคร
91T | ต.หมากแข้ง อ.เมือง จ.อุดรธานี
87T | ต.บางพระ อ.เมือง จ.ตราด
86T | ต.ในเมือง อ.เมือง จ.พิษณุโลก
92T | ต.ท่าอิฐ อ.เมือง จ.อุตรดิตถ์
89T | ต.คลัง อ.เมือง จ.นครศรีธรรมราช
93T | ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง
99T | ต.ทะเลชุบศร อ.เมืองลพบุรี จ.ลพบุรี
103T | ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์
101T | ต.เสม็ด อ.เมือง  จ.บุรีรัมย์
102T | ต.มุกดาหาร อ.เมืองมุกดาหาร จ.มุกดาหาร
100T | ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์
94T | ต.ในเมือง อ.เมืองกำแพงเพชร จ.กำแพงเพชร
95T | ต.ในเมือง อ.เมืองพิจิตร จ.พิจิตร
96T | ต.ธานี อ.เมือง จ.สุโขทัย
97T | ต.ในเมือง อ.เมืองเพชรบูรณ์ จ.เพชรบูรณ์
98T | ต.อุทัยใหม่ อ.เมืองอุทัยธานี จ.อุทัยธานี
104T | ต.บางมัญ อ.เมือง จ.สิงห์บุรี
106T | ต.บึงกาฬ อ.เมือง จ.บึงกาฬ
107T | ต.กาฬสินธุ์ อ.เมือง จ.กาฬสินธุ์
108T | ต.ในเมือง อ.เมือง จ.ชัยภูมิ
109T | ต.ในเมือง อ.เมือง จ.ยโสธร
110T | ต.บุ่ง อ.เมือง จ.อำนาจเจริญ
111T | ต.นอกเมือง อ.เมือง จ.สุรินทร์
112T | ต.หนองครก อ.เมือง จ.ศรีสะเกษ
105T | ต.บ้านใหญ่ อ.เมือง จ.นครนายก

In [39]:
print(df_info)

    รหัสสถานี                                   ชื่อสถานี  \
0         54T                   แขวงดินแดง เขตดินแดง กทม.
1         30T                 ต.ท่าประดู่ อ.เมือง จ.ระยอง
2         36T               ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่
4         24T   ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี
7         44T                 ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา
..        ...                                         ...
479      109T                   ต.ในเมือง อ.เมือง จ.ยโสธร
480      110T                 ต.บุ่ง อ.เมือง จ.อำนาจเจริญ
481      111T               ต.นอกเมือง อ.เมือง จ.สุรินทร์
482      112T                ต.หนองครก อ.เมือง จ.ศรีสะเกษ
496      105T                ต.บ้านใหญ่ อ.เมือง จ.นครนายก

         รายละเอียดจุดติดตั้งสถานี
0               การเคหะชุมชนดินแดง
1        สำนักงานเกษตรจังหวัดระยอง
2           โรงเรียนยุพราชวิทยาลัย
4     สถานีตำรวจภูธรตำบลหน้าพระลาน
7                 เทศบาลนครหาดใหญ่
..                             ...
479               สวนสาธารณะพญาแถน
480  สำนักงานเทศบาลเมืองอำนาจเจริญ
481     สถานีอุตุนิยมวิทยาสุรินทร์
482     สถานีอุตุนิยมวิทยาศรีสะเกษ
496  สถานีอนามัยเทศบาลเมืองนครนายก

[101 rows x 3 columns]

In [40]:
print(df_info["ชื่อสถานี"])

df_info["ชื่อสถานี"] = df_info["ชื่อสถานี"].str.strip()

0                       แขวงดินแดง เขตดินแดง กทม.
1                     ต.ท่าประดู่ อ.เมือง จ.ระยอง
2                   ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่
4       ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี
7                     ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา
                          ...
479                     ต.ในเมือง อ.เมือง จ.ยโสธร
480                   ต.บุ่ง อ.เมือง จ.อำนาจเจริญ
481                 ต.นอกเมือง อ.เมือง จ.สุรินทร์
482                  ต.หนองครก อ.เมือง จ.ศรีสะเกษ
496                  ต.บ้านใหญ่ อ.เมือง จ.นครนายก
Name: ชื่อสถานี, Length: 101, dtype: object

In [41]:
df_info["จังหวัด"] = df_info["ชื่อสถานี"].str.split(" ").str[-1]

In [42]:
df_info["จังหวัด"].unique()

array(['กทม.', 'จ.ระยอง', 'จ.เชียงใหม่', 'จ.สระบุรี', 'จ.สงขลา',
       'จ.สมุทรสาคร', 'จ.ลำปาง', 'จ.ราชบุรี', 'จ.ขอนแก่น', 'จ.ชลบุรี',
       'จ.สมุทรปราการ', 'จ.น่าน', 'จ.ตาก', 'จ.ปราจีนบุรี', 'จ.นราธิวาส',
       'จ.ยะลา', 'จ.กาญจนบุรี', 'จ.สตูล', 'จ.ปทุมธานี',
       'จ.พระนครศรีอยุธยา', 'จ.นครสวรรค์', 'จ.สุราษฏร์ธานี', 'จ.เชียงราย',
       'จ.แม่ฮ่องสอน', 'จ.ลำพูน', 'แพร่', 'พะเยา', 'จ.สระแก้ว', 'จ.เลย',
       'จ.นนทบุรี', 'จ.ภูเก็ต', 'จ.นครราชสีมา', 'จ.ฉะเชิงเทรา', 'จ.พะเยา',
       'จ.นครปฐม', 'จ.หนองคาย', 'จ.อุบลราชธานี', 'จ.สมุทรสงคราม',
       'จ.สุพรรณบุรี', 'จ.พิษณุโลก', 'จ.ตราด', 'จ.นครพนม',
       'จ.นครศรีธรรมราช', 'จ.สกลนคร', 'จ.อุดรธานี', 'จ.อุตรดิตถ์',
       'จ.ตรัง', 'จ.ลพบุรี', 'จ.ประจวบคีรีขันธ์', 'จ.บุรีรัมย์',
       'จ.มุกดาหาร', 'จ.กำแพงเพชร', 'จ.พิจิตร', 'จ.สุโขทัย',
       'จ.เพชรบูรณ์', 'จ.อุทัยธานี', 'จ.สิงห์บุรี', 'จ.บึงกาฬ',
       'จ.กาฬสินธุ์', 'จ.ชัยภูมิ', 'จ.ยโสธร', 'จ.อำนาจเจริญ',
       'จ.สุรินทร์', 'จ.ศรีสะเกษ', 'จ.นครนายก'], dtype=object)

In [43]:
thai_to_eng_map = {
    "กทม.": ("Bangkok Metropolis", 3),
    "สมุทรปราการ": ("Samut Prakan", 57),
    "นนทบุรี": ("Nonthaburi", 36),
    "สมุทรสาคร": ("Samut Sakhon", 58),
    "ปทุมธานี": ("Pathum Thani", 37),
    "นครปฐม": ("Nakhon Pathom", 27),
    "พระนครศรีอยุธยา": ("Phra Nakhon Si Ayutthaya", 46),
    "ราชบุรี": ("Ratchaburi", 52),
    "กาญจนบุรี": ("Kanchanaburi", 16),
    "สมุทรสงคราม": ("Samut Songkhram", 59),
    "สุพรรณบุรี": ("Suphan Buri", 66),
    "ลพบุรี": ("Lop Buri", 22),
    "ประจวบคีรีขันธ์": ("Prachuap Khiri Khan", 50),
    "สิงห์บุรี": ("Sing Buri", 63),
    "ขอนแก่น": ("Khon Kaen", 17),
    "นครราชสีมา": ("Nakhon Ratchasima", 29),
    "เลย": ("Loei", 21),
    "หนองคาย": ("Nong Khai", 35),
    "อุบลราชธานี": ("Ubon Ratchathani", 72),
    "นครพนม": ("Nakhon Phanom", 28),
    "สกลนคร": ("Sakon Nakhon", 56),
    "อุดรธานี": ("Udon Thani", 73),
    "บุรีรัมย์": ("Buri Ram", 5),
    "มุกดาหาร": ("Mukdahan", 25),
    "บึงกาฬ": ("Bueng Kan", 4),
    "กาฬสินธุ์": ("Kalasin", 14),
    "ชัยภูมิ": ("Chaiyaphum", 8),
    "ยโสธร": ("Yasothon", 77),
    "อำนาจเจริญ": ("Amnat Charoen", 1),
    "สุรินทร์": ("Surin", 68),
    "ศรีสะเกษ": ("Si Sa Ket", 62),
    "ระยอง": ("Rayong", 53),
    "ชลบุรี": ("Chon Buri", 12),
    "ฉะเชิงเทรา": ("Chachoengsao", 6),
    "ปราจีนบุรี": ("Prachin Buri", 49),
    "ตราด": ("Trat", 71),
    "จันทบุรี": ("Chanthaburi", 9),
    "นครนายก": ("Nakhon Nayok", 26),
    "เชียงใหม่": ("Chiang Mai", 10),
    "ลำปาง": ("Lampang", 19),
    "นครสวรรค์": ("Nakhon Sawan", 30),
    "เชียงราย": ("Chiang Rai", 11),
    "แม่ฮ่องสอน": ("Mae Hong Son", 23),
    "น่าน": ("Nan", 32),
    "ลำพูน": ("Lamphun", 20),
    "แพร่": ("Phrae", 47),
    "พะเยา": ("Phayao", 41),
    "ตาก": ("Tak", 69),
    "พิษณุโลก": ("Phitsanulok", 45),
    "อุตรดิตถ์": ("Uttaradit", 75),
    "กำแพงเพชร": ("Kamphaeng Phet", 15),
    "พิจิตร": ("Phichit", 44),
    "สุโขทัย": ("Sukhothai", 65),
    "เพชรบูรณ์": ("Phetchabun", 42),
    "อุทัยธานี": ("Uthai Thani", 74),
    "สุราษฏร์ธานี": ("Surat Thani", 67),
    "ภูเก็ต": ("Phuket", 48),
    "สงขลา": ("Songkhla", 64),
    "นราธิวาส": ("Narathiwat", 33),
    "ยะลา": ("Yala", 76),
    "สตูล": ("Satun", 61),
    "นครศรีธรรมราช": ("Nakhon Si Thammarat", 31),
    "ตรัง": ("Trang", 70),
    "สระบุรี": ("Saraburi", 60),
    "สระแก้ว": ("Sa Kaeo", 55)
}

df_info['จังหวัด'] = df_info['จังหวัด'].str.replace(r'^จ\.\s*', '', regex=True)

df_info["จังหวัด"]
# Map เป็นภาษาอังกฤษและ adm1__id
df_info["english_name"] = df_info["จังหวัด"].map(lambda x: thai_to_eng_map.get(x, ("", ""))[0])
df_info["adm1__id"] = df_info["จังหวัด"].map(lambda x: thai_to_eng_map.get(x, ("", ""))[1])

print(df_info)
print(len(thai_to_eng_map))

    รหัสสถานี                                 ชื่อสถานี  \
0         54T                 แขวงดินแดง เขตดินแดง กทม.
1         30T               ต.ท่าประดู่ อ.เมือง จ.ระยอง
2         36T             ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่
4         24T  ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี
7         44T               ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา
..        ...                                       ...
479      109T                 ต.ในเมือง อ.เมือง จ.ยโสธร
480      110T               ต.บุ่ง อ.เมือง จ.อำนาจเจริญ
481      111T             ต.นอกเมือง อ.เมือง จ.สุรินทร์
482      112T              ต.หนองครก อ.เมือง จ.ศรีสะเกษ
496      105T              ต.บ้านใหญ่ อ.เมือง จ.นครนายก

         รายละเอียดจุดติดตั้งสถานี     จังหวัด        english_name  adm1__id
0               การเคหะชุมชนดินแดง        กทม.  Bangkok Metropolis         3
1        สำนักงานเกษตรจังหวัดระยอง       ระยอง              Rayong        53
2           โรงเรียนยุพราชวิทยาลัย   เชียงใหม่          Chiang Mai        10
4     สถานีตำรวจภูธรตำบลหน้าพระลาน     สระบุรี            Saraburi        60
7                 เทศบาลนครหาดใหญ่       สงขลา            Songkhla        64
..                             ...         ...                 ...       ...
479               สวนสาธารณะพญาแถน       ยโสธร            Yasothon        77
480  สำนักงานเทศบาลเมืองอำนาจเจริญ  อำนาจเจริญ       Amnat Charoen         1
481     สถานีอุตุนิยมวิทยาสุรินทร์    สุรินทร์               Surin        68
482     สถานีอุตุนิยมวิทยาศรีสะเกษ    ศรีสะเกษ           Si Sa Ket        62
496  สถานีอนามัยเทศบาลเมืองนครนายก     นครนายก        Nakhon Nayok        26

[101 rows x 6 columns]
65

In [44]:
print(df_info['จังหวัด'])

0            กทม.
1           ระยอง
2       เชียงใหม่
4         สระบุรี
7           สงขลา
          ...
479         ยโสธร
480    อำนาจเจริญ
481      สุรินทร์
482      ศรีสะเกษ
496       นครนายก
Name: จังหวัด, Length: 101, dtype: object

In [45]:
df_info.info()

pd.options.display.max_rows = None
df_info

# pd.reset_option('display.max_rows')

<class 'pandas.core.frame.DataFrame'>
Index: 101 entries, 0 to 496
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   รหัสสถานี                  101 non-null    object
 1   ชื่อสถานี                  101 non-null    object
 2   รายละเอียดจุดติดตั้งสถานี  101 non-null    object
 3   จังหวัด                    101 non-null    object
 4   english_name               101 non-null    object
 5   adm1__id                   101 non-null    int64
dtypes: int64(1), object(5)
memory usage: 9.6+ KB

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี,จังหวัด,english_name,adm1__id
0,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง,กทม.,Bangkok Metropolis,3
1,30T,ต.ท่าประดู่ อ.เมือง จ.ระยอง,สำนักงานเกษตรจังหวัดระยอง,ระยอง,Rayong,53
2,36T,ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,โรงเรียนยุพราชวิทยาลัย,เชียงใหม่,Chiang Mai,10
4,24T,ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,สถานีตำรวจภูธรตำบลหน้าพระลาน,สระบุรี,Saraburi,60
7,44T,ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา,เทศบาลนครหาดใหญ่,สงขลา,Songkhla,64
10,27T,ต.มหาชัย อ.เมือง จ.สมุทรสาคร,โรงเรียนสมุทรสาครวิทยาลัย,สมุทรสาคร,Samut Sakhon,58
12,40T,ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,การประปาส่วนภูมิภาคแม่เมาะ,ลำปาง,Lampang,19
14,61T,แขวงพลับพลา เขตวังทองหลาง กทม.,โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี),กทม.,Bangkok Metropolis,3
17,26T,ต.หน้าเมือง อ.เมือง จ.ราชบุรี,สำนักงานสิ่งแวดล้อมภาคที่ ๘,ราชบุรี,Ratchaburi,52
22,46T,ต.ในเมือง อ.เมือง จ.ขอนแก่น,ส่วนอุทกวิทยา สำนักงานทรัพยากรน้ำภาค ๔,ขอนแก่น,Khon Kaen,17
24,59T,แขวงพญาไท เขตพญาไท กทม.,กรมประชาสัมพันธ์,กทม.,Bangkok Metropolis,3
31,32T,ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี,สนามกีฬาเทศบาลแหลมฉบัง,ชลบุรี,Chon Buri,12
36,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยาบางนา,กทม.,Bangkok Metropolis,3
39,52T,แขวงบางยี่เรือ เขตธนบุรี กทม.,การไฟฟ้าย่อยธนบุรี,กทม.,Bangkok Metropolis,3
41,08T,ต.ทรงคนอง อ.พระประแดง จ.สมุทรปราการ,ศูนย์ฟื้นฟูอาชีพคนพิการและทุพพลภาพพระประแดง,สมุทรปราการ,Samut Prakan,57
48,35T,ต.ช้างเผือก อ.เมือง จ.เชียงใหม่,ศูนย์ราชการจังหวัดเชียงใหม่,เชียงใหม่,Chiang Mai,10
52,75T,ต.ห้วยโก๋น อ.เฉลิมพระเกียรติ จ.น่าน,โรงพยาบาลเฉลิมพระเกียรติ,น่าน,Nan,32
53,76T,ต.แม่ปะ อ.แม่สอด จ.ตาก,ศูนย์การศึกษานอกโรงเรียน,ตาก,Tak,69
54,77T,ต.ท่าตูม อ.ศรีมหาโพธิ จ.ปราจีนบุรี,ศาลาประชาคมบ้านบุยายใบ,ปราจีนบุรี,Prachin Buri,49
58,50T,แขวงปทุมวัน เขตปทุมวัน กทม.,โรงพยาบาลจุฬาลงกรณ์,กทม.,Bangkok Metropolis,3
59,53T,แขวงวังทองหลาง เขตวังทองหลาง กทม.,สถานีตำรวจนครบาลโชคชัย,กทม.,Bangkok Metropolis,3
63,19T,ต.บางเสาธง อ.บางเสาธง จ.สมุทรปราการ,การเคหะชุมชนเมืองใหม่บางพลี,สมุทรปราการ,Samut Prakan,57
74,62T,ต.บางนาค อ.เมือง จ.นราธิวาส,ศาลากลางจังหวัดนราธิวาส,นราธิวาส,Narathiwat,33
75,63T,ต.สะเตง อ.เมือง จ.ยะลา,สนามโรงพิธีช้างเผือก,ยะลา,Yala,76
79,79T,ต.ปากแพรก อ.เมือง จ.กาญจนบุรี,สถานีอุตุนิยมวิทยากาญจนบุรี,กาญจนบุรี,Kanchanaburi,16
80,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล,สตูล,Satun,61
82,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น,กทม.,Bangkok Metropolis,3
83,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาการเคหะชุมชนห้วยขวาง,กทม.,Bangkok Metropolis,3
86,03T,แขวงแสมดำ เขตบางขุนเทียน กทม.,ริมถนนกาญจนาภิเษก,กทม.,Bangkok Metropolis,3
92,14T,ต.อ้อมน้อย อ.กระทุ่มแบน จ.สมุทรสาคร,แขวงการทางสมุทรสาคร,สมุทรสาคร,Samut Sakhon,58
93,17T,ต.ตลาด อ.พระประแดง จ.สมุทรปราการ,บ้านพักกรมอุตสาหกรรมพื้นฐานและการเหมืองแร่,สมุทรปราการ,Samut Prakan,57
94,18T,ต.ปากน้ำ อ.เมือง จ.สมุทรปราการ,ศาลากลางจังหวัดสมุทรปราการ,สมุทรปราการ,Samut Prakan,57
96,20T,ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี,มหาวิทยาลัยกรุงเทพ (วิทยาเขตรังสิต),ปทุมธานี,Pathum Thani,37
97,21T,ต.ประตูชัย อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา,โรงเรียนอยุธยาวิทยาลัย,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,46
99,25T,ต.ปากเพรียว อ.เมือง จ.สระบุรี,สถานีดับเพลิงพระลักษณ์,สระบุรี,Saraburi,60
102,29T,ต.มาบตาพุด อ.เมือง จ.ระยอง,โรงพยาบาลส่งเสริมสุขภาพตำบลมาบตาพุด,ระยอง,Rayong,53
104,31T,ต.ห้วยโป่ง อ.เมือง จ.ระยอง,ศูนย์วิจัยพืชไร่ระยอง,ระยอง,Rayong,53
106,33T,ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเขาหิน,ชลบุรี,Chon Buri,12
107,34T,ต.บ้านสวน อ.เมือง จ.ชลบุรี,สำนักงานสิ่งแวดล้อมภาคที่ ๑๓,ชลบุรี,Chon Buri,12
110,37T,ต.พระบาท อ.เมือง จ.ลำปาง,สถานีอุตุนิยมวิทยาลำปาง,ลำปาง,Lampang,19
111,38T,ต.สบป้าด อ.แม่เมาะ จ.ลำปาง,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสบป้าด,ลำปาง,Lampang,19
112,39T,ต.บ้านดง อ.แม่เมาะ จ.ลำปาง,โรงพยาบาลส่งเสริมสุขภาพตำบลท่าสี,ลำปาง,Lampang,19
114,41T,ต.ปากน้ำโพ อ.เมือง จ.นครสวรรค์,โครงการชลประทานนครสวรรค์,นครสวรรค์,Nakhon Sawan,30
115,42T,ต.มะขามเตี้ย อ.เมือง จ.สุราษฏร์ธานี,สำนักงานสิ่งแวดล้อมภาคที่ ๑๔,สุราษฏร์ธานี,Surat Thani,67
120,57T,ต.เวียง อ.เมือง จ.เชียงราย,สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเ...,เชียงราย,Chiang Rai,11
121,58T,ต.จองคำ อ.เมือง จ.แม่ฮ่องสอน,สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดแ...,แม่ฮ่องสอน,Mae Hong Son,23
122,67T,ต.ในเวียง อ.เมือง จ.น่าน,สำนักงานเทศบาลเมืองน่าน,น่าน,Nan,32
123,68T,ต.บ้านกลาง อ.เมือง จ.ลำพูน,สถานีอุตุนิยมวิทยาลำพูน,ลำพูน,Lamphun,20
124,69T,ต.นาจักร อ.เมือง จ. แพร่,อุตุนิยมวิทยาจังหวัดแพร่,แพร่,Phrae,47
125,70T,ต.เวียง อ.เมือง จ. พะเยา,อุทยานการเรียนรู้ องค์การบริหารส่วนจังหวัดพะเยา,พะเยา,Phayao,41
126,71T,ต.อรัญประเทศ อ.อรัญประเทศ จ.สระแก้ว,โรงเรียนอนุบาลศรีอรัญโญทัย,สระแก้ว,Sa Kaeo,55
127,72T,ต.นาอาน อ.เมือง จ.เลย,สำนักงานสาธารณสุขจังหวัดเลย,เลย,Loei,21
128,73T,ต.เวียงพางคำ อ.แม่สาย จ.เชียงราย,สำนักงานสาธารณสุขแม่สาย,เชียงราย,Chiang Rai,11
134,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,กทม.,Bangkok Metropolis,3
138,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา,กทม.,Bangkok Metropolis,3
147,13T,ต.บางกรวย อ.บางกรวย จ.นนทบุรี,การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย,นนทบุรี,Nonthaburi,36
149,16T,ต.บางโปรง อ.เมือง จ.สมุทรปราการ,โรงไฟฟ้าพระนครใต้,สมุทรปราการ,Samut Prakan,57
155,22T,ต.บางพูด อ.ปากเกร็ด จ.นนทบุรี,มหาวิทยาลัยสุโขทัยธรรมาธิราช,นนทบุรี,Nonthaburi,36
160,28T,ต.ปลวกแดง อ.ปลวกแดง จ.ระยอง,สำนักงานสาธารณสุขอำเภอปลวกแดง,ระยอง,Rayong,53
175,43T,ต.ตลาดใหญ่ อ.เมือง จ.ภูเก็ต,ศูนย์บริการสาธารณสุขเทศบาลนครภูเก็ต,ภูเก็ต,Phuket,48
178,47T,ต.ในเมือง อ.เมือง จ.นครราชสีมา,สถานีสูบน้ำเสียที่ ๑ ห้าแยกไอที นครราชสีมา,นครราชสีมา,Nakhon Ratchasima,29
179,60T,ต.วังเย็น อ.แปลงยาว จ.ฉะเชิงเทรา,สำนักงานเทศบาลตำบลทุ่งสะเดา,ฉะเชิงเทรา,Chachoengsao,6
187,70T*,พะเยา ต.เวียง อ.เมือง จ. พะเยา,อุทยานการเรียนรู้ อบจ.,พะเยา,Phayao,41
188,70T**,ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา,สนามกีฬาจังหวัดพะเยา,พะเยา,Phayao,41
192,74T,ต.เนินพระ อ.เมือง จ.ระยอง,ศูนย์ราชการจังหวัดระยอง,ระยอง,Rayong,53
196,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง,ยะลา,Yala,76
199,81T,ต.นครปฐม อ.เมือง จ.นครปฐม,อ่างเก็บน้ำประปา นครปฐม,นครปฐม,Nakhon Pathom,27
265,82T,ต.มีชัย อ.เมือง จ.หนองคาย,สวนสาธารณะหนองถิ่น,หนองคาย,Nong Khai,35
266,83T,ต.ในเมือง อ.เมือง จ.อุบลราชธานี,ศูนย์แสดงและจำหน่ายสินค้า OTOP จังหวัดอุบลราชธานี,อุบลราชธานี,Ubon Ratchathani,72
267,84T,ต.ลาดใหญ่ อ.เมือง จ.สมุทรสงคราม,สำนักงานสาธารณสุขจังหวัดสมุทรสงคราม,สมุทรสงคราม,Samut Songkhram,59
321,70T,ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา,สนามกีฬาจังหวัดพะเยา,พะเยา,Phayao,41
323,72T(เก่า),ต.นาอาน อ.เมือง จ.เลย,สำนักงานสาธารณสุขจังหวัดเลย,เลย,Loei,21
324,72T(ใหม่),ต.กุดป่อง อ.เมือง จ.เลย,สวนสาธารณะเฉลิมพระเกียรติ 60 พรรษา มหาราชินี,เลย,Loei,21
337,85T,ต.ดอนกำยาน อ.เมือง จ.สุพรรณบุรี,สนามกีฬากลางจังหวัดสุพรรณบุรี,สุพรรณบุรี,Suphan Buri,66
338,86T,ต.ในเมือง อ.เมือง จ.พิษณุโลก,สวนชมน่าน บริเวณหน้าวิทยาลัยอาชีวศึกษาพิษณุโลก,พิษณุโลก,Phitsanulok,45
339,87T,ต.บางพระ อ.เมือง จ.ตราด,สนามกีฬากลาง จังหวัดตราด,ตราด,Trat,71
340,88T,ต.ในเมือง อ.เมือง จ.นครพนม,สถานีอุตุนิยมวิทยานครพนม,นครพนม,Nakhon Phanom,28
341,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ,นครศรีธรรมราช,Nakhon Si Thammarat,31
342,90T,ต.ธาตุนาเวง อ.เมือง จ.สกลนคร,สถานีอุตุนิยมวิทยาสกลนคร,สกลนคร,Sakon Nakhon,56
343,91T,ต.หมากแข้ง อ.เมือง จ.อุดรธานี,บริเวณสวนสาธารณะหนองประจักษ์,อุดรธานี,Udon Thani,73
344,92T,ต.ท่าอิฐ อ.เมือง จ.อุตรดิตถ์,บริเวณภายในพื้นที่สวนมหามงคลเฉลิมพระเกียรติพระ...,อุตรดิตถ์,Uttaradit,75
345,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง,ตรัง,Trang,70
376,99T,ต.ทะเลชุบศร อ.เมืองลพบุรี จ.ลพบุรี,สถานีอุตุนิยมวิทยาลพบุรี,ลพบุรี,Lop Buri,22
377,100T,ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์,สถานีตรวจอากาศหัวหิน สถานีอุตุนิยมวิทยาประจวบค...,ประจวบคีรีขันธ์,Prachuap Khiri Khan,50
386,101T,ต.เสม็ด อ.เมือง จ.บุรีรัมย์,ศาลากลางจังหวัดบุรีรัมย์,บุรีรัมย์,Buri Ram,5
387,102T,ต.มุกดาหาร อ.เมืองมุกดาหาร จ.มุกดาหาร,สนามกีฬากลางจังหวัดมุกดาหาร,มุกดาหาร,Mukdahan,25
419,94T,ต.ในเมือง อ.เมืองกำแพงเพชร จ.กำแพงเพชร,ลานอนุรักษ์วัฒนธรรมไทยสิริจิตอุทยาน,กำแพงเพชร,Kamphaeng Phet,15
420,95T,ต.ในเมือง อ.เมืองพิจิตร จ.พิจิตร,สนามกีฬาจังหวัดพิจิตร,พิจิตร,Phichit,44
421,96T,ต.ธานี อ.เมือง จ.สุโขทัย,สวนสาธารณะ ชุมชนเลอไทย,สุโขทัย,Sukhothai,65
422,97T,ต.ในเมือง อ.เมืองเพชรบูรณ์ จ.เพชรบูรณ์,สวนสาธารณะเพชบุระ,เพชรบูรณ์,Phetchabun,42
423,98T,ต.อุทัยใหม่ อ.เมืองอุทัยธานี จ.อุทัยธานี,สวนเฉลิมพระเกียรติพระบาทสมเด็จพระเจ้าอยู่หัว เ...,อุทัยธานี,Uthai Thani,74
464,103T,ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์,สถานีตรวจอากาศหัวหิน สถานีอุตุนิยมวิทยาประจวบค...,ประจวบคีรีขันธ์,Prachuap Khiri Khan,50
465,104T,ต.บางมัญ อ.เมือง จ.สิงห์บุรี,โรงเรียนสิงห์บุรี,สิงห์บุรี,Sing Buri,63
476,106T,ต.บึงกาฬ อ.เมือง จ.บึงกาฬ,สวนสาธารณะหนองบึงกาฬ,บึงกาฬ,Bueng Kan,4
477,107T,ต.กาฬสินธุ์ อ.เมือง จ.กาฬสินธุ์,สวนสาธารณะดอนกลาง,กาฬสินธุ์,Kalasin,14
478,108T,ต.ในเมือง อ.เมือง จ.ชัยภูมิ,สนามกีฬาเทศบาลเมืองชัยภูมิ,ชัยภูมิ,Chaiyaphum,8
479,109T,ต.ในเมือง อ.เมือง จ.ยโสธร,สวนสาธารณะพญาแถน,ยโสธร,Yasothon,77
480,110T,ต.บุ่ง อ.เมือง จ.อำนาจเจริญ,สำนักงานเทศบาลเมืองอำนาจเจริญ,อำนาจเจริญ,Amnat Charoen,1
481,111T,ต.นอกเมือง อ.เมือง จ.สุรินทร์,สถานีอุตุนิยมวิทยาสุรินทร์,สุรินทร์,Surin,68
482,112T,ต.หนองครก อ.เมือง จ.ศรีสะเกษ,สถานีอุตุนิยมวิทยาศรีสะเกษ,ศรีสะเกษ,Si Sa Ket,62
496,105T,ต.บ้านใหญ่ อ.เมือง จ.นครนายก,สถานีอนามัยเทศบาลเมืองนครนายก,นครนายก,Nakhon Nayok,26

In [46]:
df_info.to_csv("../../data/a1/pm_info.csv", index=False)

In [47]:
count = 0
for i in range(78):
    if i not in df_info["adm1__id"].values and i > 0:
        print(f"{i} is not in df_info")
        count = count + 1

print(count)

2 is not in df_info
7 is not in df_info
9 is not in df_info
13 is not in df_info
18 is not in df_info
24 is not in df_info
34 is not in df_info
38 is not in df_info
39 is not in df_info
40 is not in df_info
43 is not in df_info
51 is not in df_info
54 is not in df_info
13

In [48]:
np.array(sorted(df_info["adm1__id"].unique()))

array([ 1,  3,  4,  5,  6,  8, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22,
       23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 41, 42, 44, 45,
       46, 47, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
       65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77])

In [49]:
len(df_info["จังหวัด"].unique())

64

In [50]:
df_info

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี,จังหวัด,english_name,adm1__id
0,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง,กทม.,Bangkok Metropolis,3
1,30T,ต.ท่าประดู่ อ.เมือง จ.ระยอง,สำนักงานเกษตรจังหวัดระยอง,ระยอง,Rayong,53
2,36T,ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,โรงเรียนยุพราชวิทยาลัย,เชียงใหม่,Chiang Mai,10
4,24T,ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,สถานีตำรวจภูธรตำบลหน้าพระลาน,สระบุรี,Saraburi,60
7,44T,ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา,เทศบาลนครหาดใหญ่,สงขลา,Songkhla,64
10,27T,ต.มหาชัย อ.เมือง จ.สมุทรสาคร,โรงเรียนสมุทรสาครวิทยาลัย,สมุทรสาคร,Samut Sakhon,58
12,40T,ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,การประปาส่วนภูมิภาคแม่เมาะ,ลำปาง,Lampang,19
14,61T,แขวงพลับพลา เขตวังทองหลาง กทม.,โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี),กทม.,Bangkok Metropolis,3
17,26T,ต.หน้าเมือง อ.เมือง จ.ราชบุรี,สำนักงานสิ่งแวดล้อมภาคที่ ๘,ราชบุรี,Ratchaburi,52
22,46T,ต.ในเมือง อ.เมือง จ.ขอนแก่น,ส่วนอุทกวิทยา สำนักงานทรัพยากรน้ำภาค ๔,ขอนแก่น,Khon Kaen,17
24,59T,แขวงพญาไท เขตพญาไท กทม.,กรมประชาสัมพันธ์,กทม.,Bangkok Metropolis,3
31,32T,ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี,สนามกีฬาเทศบาลแหลมฉบัง,ชลบุรี,Chon Buri,12
36,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยาบางนา,กทม.,Bangkok Metropolis,3
39,52T,แขวงบางยี่เรือ เขตธนบุรี กทม.,การไฟฟ้าย่อยธนบุรี,กทม.,Bangkok Metropolis,3
41,08T,ต.ทรงคนอง อ.พระประแดง จ.สมุทรปราการ,ศูนย์ฟื้นฟูอาชีพคนพิการและทุพพลภาพพระประแดง,สมุทรปราการ,Samut Prakan,57
48,35T,ต.ช้างเผือก อ.เมือง จ.เชียงใหม่,ศูนย์ราชการจังหวัดเชียงใหม่,เชียงใหม่,Chiang Mai,10
52,75T,ต.ห้วยโก๋น อ.เฉลิมพระเกียรติ จ.น่าน,โรงพยาบาลเฉลิมพระเกียรติ,น่าน,Nan,32
53,76T,ต.แม่ปะ อ.แม่สอด จ.ตาก,ศูนย์การศึกษานอกโรงเรียน,ตาก,Tak,69
54,77T,ต.ท่าตูม อ.ศรีมหาโพธิ จ.ปราจีนบุรี,ศาลาประชาคมบ้านบุยายใบ,ปราจีนบุรี,Prachin Buri,49
58,50T,แขวงปทุมวัน เขตปทุมวัน กทม.,โรงพยาบาลจุฬาลงกรณ์,กทม.,Bangkok Metropolis,3
59,53T,แขวงวังทองหลาง เขตวังทองหลาง กทม.,สถานีตำรวจนครบาลโชคชัย,กทม.,Bangkok Metropolis,3
63,19T,ต.บางเสาธง อ.บางเสาธง จ.สมุทรปราการ,การเคหะชุมชนเมืองใหม่บางพลี,สมุทรปราการ,Samut Prakan,57
74,62T,ต.บางนาค อ.เมือง จ.นราธิวาส,ศาลากลางจังหวัดนราธิวาส,นราธิวาส,Narathiwat,33
75,63T,ต.สะเตง อ.เมือง จ.ยะลา,สนามโรงพิธีช้างเผือก,ยะลา,Yala,76
79,79T,ต.ปากแพรก อ.เมือง จ.กาญจนบุรี,สถานีอุตุนิยมวิทยากาญจนบุรี,กาญจนบุรี,Kanchanaburi,16
80,80T,ต.พิมาน อ.เมือง. จ.สตูล,ศาลากลางจังหวัดสตูล,สตูล,Satun,61
82,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น,กทม.,Bangkok Metropolis,3
83,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาการเคหะชุมชนห้วยขวาง,กทม.,Bangkok Metropolis,3
86,03T,แขวงแสมดำ เขตบางขุนเทียน กทม.,ริมถนนกาญจนาภิเษก,กทม.,Bangkok Metropolis,3
92,14T,ต.อ้อมน้อย อ.กระทุ่มแบน จ.สมุทรสาคร,แขวงการทางสมุทรสาคร,สมุทรสาคร,Samut Sakhon,58
93,17T,ต.ตลาด อ.พระประแดง จ.สมุทรปราการ,บ้านพักกรมอุตสาหกรรมพื้นฐานและการเหมืองแร่,สมุทรปราการ,Samut Prakan,57
94,18T,ต.ปากน้ำ อ.เมือง จ.สมุทรปราการ,ศาลากลางจังหวัดสมุทรปราการ,สมุทรปราการ,Samut Prakan,57
96,20T,ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี,มหาวิทยาลัยกรุงเทพ (วิทยาเขตรังสิต),ปทุมธานี,Pathum Thani,37
97,21T,ต.ประตูชัย อ.พระนครศรีอยุธยา จ.พระนครศรีอยุธยา,โรงเรียนอยุธยาวิทยาลัย,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,46
99,25T,ต.ปากเพรียว อ.เมือง จ.สระบุรี,สถานีดับเพลิงพระลักษณ์,สระบุรี,Saraburi,60
102,29T,ต.มาบตาพุด อ.เมือง จ.ระยอง,โรงพยาบาลส่งเสริมสุขภาพตำบลมาบตาพุด,ระยอง,Rayong,53
104,31T,ต.ห้วยโป่ง อ.เมือง จ.ระยอง,ศูนย์วิจัยพืชไร่ระยอง,ระยอง,Rayong,53
106,33T,ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเขาหิน,ชลบุรี,Chon Buri,12
107,34T,ต.บ้านสวน อ.เมือง จ.ชลบุรี,สำนักงานสิ่งแวดล้อมภาคที่ ๑๓,ชลบุรี,Chon Buri,12
110,37T,ต.พระบาท อ.เมือง จ.ลำปาง,สถานีอุตุนิยมวิทยาลำปาง,ลำปาง,Lampang,19
111,38T,ต.สบป้าด อ.แม่เมาะ จ.ลำปาง,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสบป้าด,ลำปาง,Lampang,19
112,39T,ต.บ้านดง อ.แม่เมาะ จ.ลำปาง,โรงพยาบาลส่งเสริมสุขภาพตำบลท่าสี,ลำปาง,Lampang,19
114,41T,ต.ปากน้ำโพ อ.เมือง จ.นครสวรรค์,โครงการชลประทานนครสวรรค์,นครสวรรค์,Nakhon Sawan,30
115,42T,ต.มะขามเตี้ย อ.เมือง จ.สุราษฏร์ธานี,สำนักงานสิ่งแวดล้อมภาคที่ ๑๔,สุราษฏร์ธานี,Surat Thani,67
120,57T,ต.เวียง อ.เมือง จ.เชียงราย,สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดเ...,เชียงราย,Chiang Rai,11
121,58T,ต.จองคำ อ.เมือง จ.แม่ฮ่องสอน,สำนักงานทรัพยากรธรรมชาติและสิ่งแวดล้อมจังหวัดแ...,แม่ฮ่องสอน,Mae Hong Son,23
122,67T,ต.ในเวียง อ.เมือง จ.น่าน,สำนักงานเทศบาลเมืองน่าน,น่าน,Nan,32
123,68T,ต.บ้านกลาง อ.เมือง จ.ลำพูน,สถานีอุตุนิยมวิทยาลำพูน,ลำพูน,Lamphun,20
124,69T,ต.นาจักร อ.เมือง จ. แพร่,อุตุนิยมวิทยาจังหวัดแพร่,แพร่,Phrae,47
125,70T,ต.เวียง อ.เมือง จ. พะเยา,อุทยานการเรียนรู้ องค์การบริหารส่วนจังหวัดพะเยา,พะเยา,Phayao,41
126,71T,ต.อรัญประเทศ อ.อรัญประเทศ จ.สระแก้ว,โรงเรียนอนุบาลศรีอรัญโญทัย,สระแก้ว,Sa Kaeo,55
127,72T,ต.นาอาน อ.เมือง จ.เลย,สำนักงานสาธารณสุขจังหวัดเลย,เลย,Loei,21
128,73T,ต.เวียงพางคำ อ.แม่สาย จ.เชียงราย,สำนักงานสาธารณสุขแม่สาย,เชียงราย,Chiang Rai,11
134,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,กทม.,Bangkok Metropolis,3
138,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา,กทม.,Bangkok Metropolis,3
147,13T,ต.บางกรวย อ.บางกรวย จ.นนทบุรี,การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย,นนทบุรี,Nonthaburi,36
149,16T,ต.บางโปรง อ.เมือง จ.สมุทรปราการ,โรงไฟฟ้าพระนครใต้,สมุทรปราการ,Samut Prakan,57
155,22T,ต.บางพูด อ.ปากเกร็ด จ.นนทบุรี,มหาวิทยาลัยสุโขทัยธรรมาธิราช,นนทบุรี,Nonthaburi,36
160,28T,ต.ปลวกแดง อ.ปลวกแดง จ.ระยอง,สำนักงานสาธารณสุขอำเภอปลวกแดง,ระยอง,Rayong,53
175,43T,ต.ตลาดใหญ่ อ.เมือง จ.ภูเก็ต,ศูนย์บริการสาธารณสุขเทศบาลนครภูเก็ต,ภูเก็ต,Phuket,48
178,47T,ต.ในเมือง อ.เมือง จ.นครราชสีมา,สถานีสูบน้ำเสียที่ ๑ ห้าแยกไอที นครราชสีมา,นครราชสีมา,Nakhon Ratchasima,29
179,60T,ต.วังเย็น อ.แปลงยาว จ.ฉะเชิงเทรา,สำนักงานเทศบาลตำบลทุ่งสะเดา,ฉะเชิงเทรา,Chachoengsao,6
187,70T*,พะเยา ต.เวียง อ.เมือง จ. พะเยา,อุทยานการเรียนรู้ อบจ.,พะเยา,Phayao,41
188,70T**,ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา,สนามกีฬาจังหวัดพะเยา,พะเยา,Phayao,41
192,74T,ต.เนินพระ อ.เมือง จ.ระยอง,ศูนย์ราชการจังหวัดระยอง,ระยอง,Rayong,53
196,78T,ต.เบตง อ.เบตง จ.ยะลา,ศูนย์พัฒนาเด็กเล็กเทศบาลเมืองเบตง,ยะลา,Yala,76
199,81T,ต.นครปฐม อ.เมือง จ.นครปฐม,อ่างเก็บน้ำประปา นครปฐม,นครปฐม,Nakhon Pathom,27
265,82T,ต.มีชัย อ.เมือง จ.หนองคาย,สวนสาธารณะหนองถิ่น,หนองคาย,Nong Khai,35
266,83T,ต.ในเมือง อ.เมือง จ.อุบลราชธานี,ศูนย์แสดงและจำหน่ายสินค้า OTOP จังหวัดอุบลราชธานี,อุบลราชธานี,Ubon Ratchathani,72
267,84T,ต.ลาดใหญ่ อ.เมือง จ.สมุทรสงคราม,สำนักงานสาธารณสุขจังหวัดสมุทรสงคราม,สมุทรสงคราม,Samut Songkhram,59
321,70T,ต.บ้านต๋อม อ.เมืองพะเยา จ.พะเยา,สนามกีฬาจังหวัดพะเยา,พะเยา,Phayao,41
323,72T(เก่า),ต.นาอาน อ.เมือง จ.เลย,สำนักงานสาธารณสุขจังหวัดเลย,เลย,Loei,21
324,72T(ใหม่),ต.กุดป่อง อ.เมือง จ.เลย,สวนสาธารณะเฉลิมพระเกียรติ 60 พรรษา มหาราชินี,เลย,Loei,21
337,85T,ต.ดอนกำยาน อ.เมือง จ.สุพรรณบุรี,สนามกีฬากลางจังหวัดสุพรรณบุรี,สุพรรณบุรี,Suphan Buri,66
338,86T,ต.ในเมือง อ.เมือง จ.พิษณุโลก,สวนชมน่าน บริเวณหน้าวิทยาลัยอาชีวศึกษาพิษณุโลก,พิษณุโลก,Phitsanulok,45
339,87T,ต.บางพระ อ.เมือง จ.ตราด,สนามกีฬากลาง จังหวัดตราด,ตราด,Trat,71
340,88T,ต.ในเมือง อ.เมือง จ.นครพนม,สถานีอุตุนิยมวิทยานครพนม,นครพนม,Nakhon Phanom,28
341,89T,ต.คลัง อ.เมือง จ.นครศรีธรรมราช,ศูนย์ฟื้นฟูสุขภาพผู้สูงอายุ,นครศรีธรรมราช,Nakhon Si Thammarat,31
342,90T,ต.ธาตุนาเวง อ.เมือง จ.สกลนคร,สถานีอุตุนิยมวิทยาสกลนคร,สกลนคร,Sakon Nakhon,56
343,91T,ต.หมากแข้ง อ.เมือง จ.อุดรธานี,บริเวณสวนสาธารณะหนองประจักษ์,อุดรธานี,Udon Thani,73
344,92T,ต.ท่าอิฐ อ.เมือง จ.อุตรดิตถ์,บริเวณภายในพื้นที่สวนมหามงคลเฉลิมพระเกียรติพระ...,อุตรดิตถ์,Uttaradit,75
345,93T,ต.นาตาล่วง อ.เมืองตรัง จ.ตรัง,วิทยาลัยสารพัดช่างตรัง,ตรัง,Trang,70
376,99T,ต.ทะเลชุบศร อ.เมืองลพบุรี จ.ลพบุรี,สถานีอุตุนิยมวิทยาลพบุรี,ลพบุรี,Lop Buri,22
377,100T,ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์,สถานีตรวจอากาศหัวหิน สถานีอุตุนิยมวิทยาประจวบค...,ประจวบคีรีขันธ์,Prachuap Khiri Khan,50
386,101T,ต.เสม็ด อ.เมือง จ.บุรีรัมย์,ศาลากลางจังหวัดบุรีรัมย์,บุรีรัมย์,Buri Ram,5
387,102T,ต.มุกดาหาร อ.เมืองมุกดาหาร จ.มุกดาหาร,สนามกีฬากลางจังหวัดมุกดาหาร,มุกดาหาร,Mukdahan,25
419,94T,ต.ในเมือง อ.เมืองกำแพงเพชร จ.กำแพงเพชร,ลานอนุรักษ์วัฒนธรรมไทยสิริจิตอุทยาน,กำแพงเพชร,Kamphaeng Phet,15
420,95T,ต.ในเมือง อ.เมืองพิจิตร จ.พิจิตร,สนามกีฬาจังหวัดพิจิตร,พิจิตร,Phichit,44
421,96T,ต.ธานี อ.เมือง จ.สุโขทัย,สวนสาธารณะ ชุมชนเลอไทย,สุโขทัย,Sukhothai,65
422,97T,ต.ในเมือง อ.เมืองเพชรบูรณ์ จ.เพชรบูรณ์,สวนสาธารณะเพชบุระ,เพชรบูรณ์,Phetchabun,42
423,98T,ต.อุทัยใหม่ อ.เมืองอุทัยธานี จ.อุทัยธานี,สวนเฉลิมพระเกียรติพระบาทสมเด็จพระเจ้าอยู่หัว เ...,อุทัยธานี,Uthai Thani,74
464,103T,ต.หัวหิน อ.หัวหิน จ.ประจวบคีรีขันธ์,สถานีตรวจอากาศหัวหิน สถานีอุตุนิยมวิทยาประจวบค...,ประจวบคีรีขันธ์,Prachuap Khiri Khan,50
465,104T,ต.บางมัญ อ.เมือง จ.สิงห์บุรี,โรงเรียนสิงห์บุรี,สิงห์บุรี,Sing Buri,63
476,106T,ต.บึงกาฬ อ.เมือง จ.บึงกาฬ,สวนสาธารณะหนองบึงกาฬ,บึงกาฬ,Bueng Kan,4
477,107T,ต.กาฬสินธุ์ อ.เมือง จ.กาฬสินธุ์,สวนสาธารณะดอนกลาง,กาฬสินธุ์,Kalasin,14
478,108T,ต.ในเมือง อ.เมือง จ.ชัยภูมิ,สนามกีฬาเทศบาลเมืองชัยภูมิ,ชัยภูมิ,Chaiyaphum,8
479,109T,ต.ในเมือง อ.เมือง จ.ยโสธร,สวนสาธารณะพญาแถน,ยโสธร,Yasothon,77
480,110T,ต.บุ่ง อ.เมือง จ.อำนาจเจริญ,สำนักงานเทศบาลเมืองอำนาจเจริญ,อำนาจเจริญ,Amnat Charoen,1
481,111T,ต.นอกเมือง อ.เมือง จ.สุรินทร์,สถานีอุตุนิยมวิทยาสุรินทร์,สุรินทร์,Surin,68
482,112T,ต.หนองครก อ.เมือง จ.ศรีสะเกษ,สถานีอุตุนิยมวิทยาศรีสะเกษ,ศรีสะเกษ,Si Sa Ket,62
496,105T,ต.บ้านใหญ่ อ.เมือง จ.นครนายก,สถานีอนามัยเทศบาลเมืองนครนายก,นครนายก,Nakhon Nayok,26

In [51]:
#find all station which have english name as Bangkok Metropolis, Phuket, Chong Buri, Karnchanaburi, Chaing Mai and Kon Kaen
df_info = df_info[df_info["english_name"].isin(["Bangkok Metropolis", "Phuket", "Chon Buri", "Kanchanaburi", "Chiang Mai", "Khon Kaen"])].reset_index(drop=True)

In [52]:
pd.reset_option('display.max_rows')
df_info

,รหัสสถานี,ชื่อสถานี,รายละเอียดจุดติดตั้งสถานี,จังหวัด,english_name,adm1__id
0,54T,แขวงดินแดง เขตดินแดง กทม.,การเคหะชุมชนดินแดง,กทม.,Bangkok Metropolis,3
1,36T,ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,โรงเรียนยุพราชวิทยาลัย,เชียงใหม่,Chiang Mai,10
2,61T,แขวงพลับพลา เขตวังทองหลาง กทม.,โรงเรียนบดินทรเดชา (สิงห์ สิงหเสนี),กทม.,Bangkok Metropolis,3
3,46T,ต.ในเมือง อ.เมือง จ.ขอนแก่น,ส่วนอุทกวิทยา สำนักงานทรัพยากรน้ำภาค ๔,ขอนแก่น,Khon Kaen,17
4,59T,แขวงพญาไท เขตพญาไท กทม.,กรมประชาสัมพันธ์,กทม.,Bangkok Metropolis,3
5,32T,ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี,สนามกีฬาเทศบาลแหลมฉบัง,ชลบุรี,Chon Buri,12
6,05T,แขวงบางนา เขตบางนา กทม.,กรมอุตุนิยมวิทยาบางนา,กทม.,Bangkok Metropolis,3
7,52T,แขวงบางยี่เรือ เขตธนบุรี กทม.,การไฟฟ้าย่อยธนบุรี,กทม.,Bangkok Metropolis,3
8,35T,ต.ช้างเผือก อ.เมือง จ.เชียงใหม่,ศูนย์ราชการจังหวัดเชียงใหม่,เชียงใหม่,Chiang Mai,10
9,50T,แขวงปทุมวัน เขตปทุมวัน กทม.,โรงพยาบาลจุฬาลงกรณ์,กทม.,Bangkok Metropolis,3
10,53T,แขวงวังทองหลาง เขตวังทองหลาง กทม.,สถานีตำรวจนครบาลโชคชัย,กทม.,Bangkok Metropolis,3
11,79T,ต.ปากแพรก อ.เมือง จ.กาญจนบุรี,สถานีอุตุนิยมวิทยากาญจนบุรี,กาญจนบุรี,Kanchanaburi,16
12,10T,แขวงคลองจั่น เขตบางกะปิ กทม.,เคหะชุมชนคลองจั่น,กทม.,Bangkok Metropolis,3
13,11T,แขวงดินแดง เขตดินแดง กทม.,สนามกีฬาการเคหะชุมชนห้วยขวาง,กทม.,Bangkok Metropolis,3
14,03T,แขวงแสมดำ เขตบางขุนเทียน กทม.,ริมถนนกาญจนาภิเษก,กทม.,Bangkok Metropolis,3
15,33T,ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเขาหิน,ชลบุรี,Chon Buri,12
16,34T,ต.บ้านสวน อ.เมือง จ.ชลบุรี,สำนักงานสิ่งแวดล้อมภาคที่ ๑๓,ชลบุรี,Chon Buri,12
17,02T,แขวงหิรัญรูจี เขตธนบุรี กทม.,มหาวิทยาลัยราชภัฏบ้านสมเด็จเจ้าพระยา,กทม.,Bangkok Metropolis,3
18,12T,แขวงช่องนนทรี เขตยานนาวา กทม.,โรงเรียนนนทรีวิทยา,กทม.,Bangkok Metropolis,3
19,43T,ต.ตลาดใหญ่ อ.เมือง จ.ภูเก็ต,ศูนย์บริการสาธารณสุขเทศบาลนครภูเก็ต,ภูเก็ต,Phuket,48

In [53]:
df_info["english_name"].unique()

array(['Bangkok Metropolis', 'Chiang Mai', 'Khon Kaen', 'Chon Buri',
       'Kanchanaburi', 'Phuket'], dtype=object)

In [54]:
df_pm

,Date,54T | แขวงดินแดง เขตดินแดง กทม.,36T | ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,30T | ต.ท่าประดู่ อ.เมือง จ.ระยอง,24T | ต.หน้าพระลาน อ.เฉลิมพระเกียรติ จ.สระบุรี,44T | ต.หาดใหญ่ อ.หาดใหญ่ จ.สงขลา,27T | ต.มหาชัย อ.เมือง จ.สมุทรสาคร,40T | ต.แม่เมาะ อ.แม่เมาะ จ.ลำปาง,61T | แขวงพลับพลา เขตวังทองหลาง กทม.,26T | ต.หน้าเมือง อ.เมือง จ.ราชบุรี,...,98T | ต.อุทัยใหม่ อ.เมืองอุทัยธานี จ.อุทัยธานี,104T | ต.บางมัญ อ.เมือง จ.สิงห์บุรี,106T | ต.บึงกาฬ อ.เมือง จ.บึงกาฬ,107T | ต.กาฬสินธุ์ อ.เมือง จ.กาฬสินธุ์,108T | ต.ในเมือง อ.เมือง จ.ชัยภูมิ,109T | ต.ในเมือง อ.เมือง จ.ยโสธร,110T | ต.บุ่ง อ.เมือง จ.อำนาจเจริญ,111T | ต.นอกเมือง อ.เมือง จ.สุรินทร์,112T | ต.หนองครก อ.เมือง จ.ศรีสะเกษ,105T | ต.บ้านใหญ่ อ.เมือง จ.นครนายก
0,2024-12-31 00:00:00,34.9,21.5,25.6,37.1,15.6,38.9,22.0,29.5,41.2,...,35.2,32.0,20.4,33.9,23.3,33.9,28.6,19.5,20.0,23.8
1,2024-12-30 00:00:00,33.4,23.1,23.4,29.6,14.0,49.2,20.9,27.1,35.1,...,37.9,38.6,24.9,32.2,27.1,38.9,31.8,25.2,30.2,19.6
2,2024-12-29 00:00:00,23.3,20.1,12.3,20.8,10.1,30.9,20.2,20.1,27.1,...,24.9,25.1,15.1,32.9,17.9,35.3,29.5,23.2,22.5,12.0
3,2024-12-28 00:00:00,27.7,17.4,13.4,25.3,9.7,43.8,23.7,22.6,NaN,...,37.8,24.4,10.1,20.4,19.3,22.7,17.4,9.7,9.8,14.4
4,2024-12-27 00:00:00,44.5,23.6,24.4,35.6,12.0,63.6,27.3,34.6,47.1,...,51.2,30.3,10.7,23.5,20.7,22.9,16.9,12.4,10.1,36.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4974,2011-05-20 00:00:00,43,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4975,2011-05-19 00:00:00,49,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,2011-05-18 00:00:00,45,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4977,2011-05-17 00:00:00,45,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,2011-05-16 00:00:00,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#show colunmns that duplicated
df_pm.columns[df_pm.columns.duplicated()]

Index([], dtype='object')

In [56]:
df_check.columns[df_check.columns.duplicated()]

Index([], dtype='object')

In [57]:
# df_pm = df_pm.loc[:, df_pm.columns.str.split('|').str[0].str.strip().isin(df_info["รหัสสถานี"])]

In [58]:
station_cols = df_pm.columns[df_pm.columns.str.split('|').str[0].str.strip().isin(df_info["รหัสสถานี"])]
df_new = df_pm.loc[:, ['Date'] + station_cols.tolist()]

In [59]:
# delete column with all NaN values
# df_pm.dropna(axis=1, how='all', inplace=True)

In [60]:
df_new

,Date,54T | แขวงดินแดง เขตดินแดง กทม.,36T | ต.ศรีภูมิ อ.เมือง จ.เชียงใหม่,61T | แขวงพลับพลา เขตวังทองหลาง กทม.,46T | ต.ในเมือง อ.เมือง จ.ขอนแก่น,59T | แขวงพญาไท เขตพญาไท กทม.,32T | ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี,05T | แขวงบางนา เขตบางนา กทม.,52T | แขวงบางยี่เรือ เขตธนบุรี กทม.,35T | ต.ช้างเผือก อ.เมือง จ.เชียงใหม่,...,53T | แขวงวังทองหลาง เขตวังทองหลาง กทม.,79T | ต.ปากแพรก อ.เมือง จ.กาญจนบุรี,10T | แขวงคลองจั่น เขตบางกะปิ กทม.,11T | แขวงดินแดง เขตดินแดง กทม.,03T | แขวงแสมดำ เขตบางขุนเทียน กทม.,33T | ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี,34T | ต.บ้านสวน อ.เมือง จ.ชลบุรี,02T | แขวงหิรัญรูจี เขตธนบุรี กทม.,12T | แขวงช่องนนทรี เขตยานนาวา กทม.,43T | ต.ตลาดใหญ่ อ.เมือง จ.ภูเก็ต
0,2024-12-31 00:00:00,34.9,21.5,29.5,30.0,21.9,20.7,33.9,36.9,26.6,...,34.1,34.4,32.9,30.0,32.5,23.9,22.3,37.1,30.1,15.6
1,2024-12-30 00:00:00,33.4,23.1,27.1,35.2,26.2,19.6,28.4,39.2,27.3,...,32.7,24.7,28.2,28.4,34.3,23.4,23.0,40.0,28.1,13.7
2,2024-12-29 00:00:00,23.3,20.1,20.1,NaN,17.0,16.8,20.1,25.2,24.2,...,23.6,24.4,20.4,20.6,22.3,17.5,15.4,25.8,20.7,10.1
3,2024-12-28 00:00:00,27.7,17.4,22.6,24.5,17.0,15.7,22.9,27.8,22.8,...,27.9,28.6,22.5,22.8,25.6,19.0,17.8,28.2,23.4,9.8
4,2024-12-27 00:00:00,44.5,23.6,34.6,24.5,23.2,27.6,35.4,46.2,27.3,...,40.0,NaN,35.8,35.4,43.9,25.9,20.7,47.4,35.9,12.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4974,2011-05-20 00:00:00,43,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4975,2011-05-19 00:00:00,49,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4976,2011-05-18 00:00:00,45,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4977,2011-05-17 00:00:00,45,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4978,2011-05-16 00:00:00,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df_new.to_csv("../../data/a1/pm_map.csv", index=False)